<h3>NavMenu</h3>

<NavLink href="upload" Match="NavLinkMatch.All">
    <span class="oi oi-cloud-upload" aria-hidden="true"></span> Upload Resume
</NavLink>
<NavLink href="/match" class="nav-link">Resume Matcher</NavLink>
@code {

}
